:root{
	--fcfm-blue:#1F6FB6;
    --fcfm-blue-dark:#154F81;
    --fcfm-gold:#FFA600;
    --fcfm-gold-dark:#d98d00;
    --fcfm-black:#010203;
	--bg:#F5F7FA;
    --card:#FFFFFF;
	--text:#1f2937;
	--muted:#6b7280;
	--primary:#0f766e;
	--danger:#b91c1c;
	--border:#D7E1EA;
}

*{
	box-sizing:border-box
}

body{
	font-family:Segoe UI, sans-serif;
	background:#f5f7fb;
	color:var(--text);
	margin:0
}

.container{
	max-width:1100px;
	/*margin:28px auto;*/
	margin-left: 270px;
	padding:20px
	/*padding:0 16px*/
}

.card{
	background:var(--card);
	border-top:4px solid var(--fcfm-gold);

	border:1px solid var(--border);
	border-radius:14px;
	padding:22px;
	margin-bottom:18px;
	box-shadow:0 6px 18px #0000000d
}

.logos{
	background:var(--fcfm-blue);
}

.encabezado{
	margin: -20px -20px 20px -20px;

    background:#1F6FB6;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 30px;

    border-radius:12px 12px 0 0;
    border-bottom:5px solid #FFA600;

}

.logo{

    height:80px;

    width:auto;

    display:block;
}

h1,h2,h3{
	margin-top:0
}

.muted{
	color:var(--muted)
}

label{
	display:block;
	margin:12px 0 6px;
	font-weight:bold
}

input,select,textarea{
	width:100%;
	padding:10px;
	border:1px solid #cbd5e1;
	border-radius:8px;
	font-size:15px
}

textarea{
	min-height:90px
}

.btn,button{
	display:inline-block;
	background:var(--fcfm-blue);
	color:white;
	padding:10px 14px;
	border:0;
	border-radius:8px;
	text-decoration:none;
	cursor:pointer;
	margin:4px 4px 4px 0
}

.btn.secondary{
	background:#6b7280;

}

.btn.danger{
	background:var(--danger)
}

.btn.light{
	background:#e2e8f0;
	color:#111827
}

button:hover,
.btn:hover{

    background:var(--fcfm-blue-dark);

}

.alert{
	padding:12px 14px;
	border-radius:8px;
	margin-bottom:14px
}

.alert.warn{
	background:#fef3c7;
	position: fixed;
	margin-left: 40px;
	margin-top: 20px;
}

.alert.prepare{
	background:#fef3c7;
}

.alert.error{
	background:#fee2e2
}

.alert.ok{
	background:#dcfce7
}

.grid{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
	gap:12px
}

.stat{
	background:#f8fafc;
	border:1px solid var(--border);
	border-radius:12px;
	padding:14px
}

.stat b{
	font-size:26px
}

.table{
	width:100%;
	border-collapse:collapse;
	background:white
}

.table th,.table td{
	border-bottom:1px solid var(--border);
	padding:9px;
	text-align:left;
	vertical-align:top
}

.table th{
	background:var(--fcfm-blue);

    color:white;

}

.table tr:hover{

    background:#eef6fc;

}

.timer{
	font-size:28px;
	font-weight:bold;
	color:var(--danger)
}

.question{
	border:1px solid var(--border);
	padding:14px;
	border-radius:12px;
	margin:12px 0;
	background:#fff
}

.likert{
	display:flex;
	gap:10px;
	flex-wrap:wrap;
	margin-top:8px
}

.likert label{
	font-weight:normal;
	margin:0;
	background:#f8fafc;
	border:1px solid var(--border);
	border-radius:8px;
	padding:8px
}

/*.topnav{
	background:#0f172a;
	color:white;
	padding:12px 18px
}

.topnav a{
	color:white;
	margin-right:12px;
	text-decoration:none
}*/

.topnav{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;

    background:var(--fcfm-blue);
    color:white;

    padding:20px;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;

    box-shadow:2px 0 10px rgba(0,0,0,.15);
}

.topnav a{
    background:rgba(255,255,255,.08);

    color:white;
    text-decoration:none;

    padding:12px;
    margin-bottom:6px;

    border-radius:6px;

    transition:.2s;
}

.topnav a:hover{
    background:rgba(255,255,255,.18);

}

.topnav a.active{
    background:var(--fcfm-gold);

    color:#111;

    font-weight:bold;
}

.small{
	font-size:13px
}

.report{
	white-space:pre-wrap;
	line-height:1.4
}

.actions{
	white-space:nowrap
}

.badge{
	display:inline-block;
	padding:3px 8px;
	border-radius:999px;
	background:#e2e8f0
}

.badge.ok{
	background:#dcfce7
}

.badge.mid{
	background:#fef3c7
}

.badge.low{
	background:#fee2e2
}

.th-sort{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:8px;
}

.sort-arrows{
    display:flex;
    flex-direction:column;
    line-height:11px;
}

.sort-arrows a{
    color:#FFFFFF;
    text-decoration:none;
    font-size:11px;
}

.sort-arrows a:hover{
    color:#1d4ed8;
}

.input{

    margin-bottom:15px;

    flex-shrink:0;

}

.input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

input:focus,
select:focus,
textarea:focus{

    border-color:var(--fcfm-blue);

    box-shadow:0 0 0 4px rgba(31,111,182,.18);

}



/* The up/down direction logic */

.input,
.input:active {
  background-position: -24px 0;
}

.input:checked {
  background-position: 0 0;
}

.input:checked ~ .input,
.input:checked ~ .input:active {
  background-position: 24px 0;
}

.likert{
    display:flex;
    gap:14px;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top:15px;
}

.opcion{

    position:relative;

    width:18%;
    min-width:150px;

    display:flex;
    flex-direction:column;

    align-items:center;

    padding:18px;

    border-radius:14px;

    border:2px solid #d8dee9;

    cursor:pointer;

    transition:.25s;

    background:white;

    box-shadow:0 2px 8px rgba(0,0,0,.06);

}

.opcion:hover{

    border-color:#3b82f6;

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(59,130,246,.18);
}

.opcion .input{

    position:absolute;

    opacity:0;

    pointer-events:none;
}

.numero{

    width:42px;
    height:42px;

    border-radius:50%;

    background:#f3f4f6;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:18px;
    font-weight:bold;

    margin-bottom:15px;

    transition:.25s;
}

.texto{

    text-align:center;

    font-size:.92rem;

    line-height:1.4;

    color:#374151;
}

.opcion:has(.input:checked){

    border-color:var(--fcfm-gold);

    background:#eff6ff;

    /*box-shadow:
        0 0 0 4px rgba(37,99,235,.18),
        0 12px 24px rgba(37,99,235,.12);*/
    box-shadow: 0 0 0 5px rgba(255,166,0,.20);

    transform:translateY(-3px);
}

.opcion:has(input:checked) .numero{

    background:#2563eb;

    color:white;

    transform:scale(1.12);
}

.opcion:has(input:checked) .texto{

     color:#1e3a8a;

    font-weight:600;
}